@charset "utf-8";
$baseFontSize: 100px !default;
@function pxToRem($px: 16) {
  @return $px / $baseFontSize / 2 * 1rem;
}
@function strip-units($number){
    @return $number / ($number * 0 + 1);
}
@mixin remlace($property, $values...) {
  $max: length($values);
  $remValues: '';
  @for $i from 1 through $max {
    $value: strip-units(nth($values, $i));
    $defaultFontSize: strip-units($baseFontSize);
    $remValues: #{$remValues + $value / $defaultFontSize / 2 * 1rem};
    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  #{$property}: $remValues; 
}
html {font-size:625%;color:#000;-webkit-tap-highlight-color: transparent;}
html,body{height:100%;}
body{overflow-x: hidden;max-width:750px;margin:0 auto;background-color:#EFEEF4;}
:not(input,textarea){
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  user-select:none;
}
@media screen and (min-width: 320px) {
  html {font-size:100px;}
}
@media screen and (min-width: 360px) {
  html {font-size:100px;}
}
@media screen and (min-width: 375px) {
  html {font-size:100px;}
}
@media screen and (min-width: 384px) {
  html {font-size:102.4px;}
}
@media screen and (min-width: 400px) {
  html {font-size:106.67px;}
}
@media screen and (min-width: 414px) {
  html {font-size:110.4px;}
}
@media screen and (min-width: 424px) {
  html {font-size:113.07px;}
}
@media screen and (min-width: 480px) {
  html {font-size:128px;}
}
@media screen and (min-width: 540px) {
  html {font-size:144px;}
}
@media screen and (min-width: 720px) {
  html {font-size:192px;}
}
@media screen and (min-width: 750px) {
  html {font-size:200px;}
}
.wrap{
	max-width: 750px;
	margin: 0 auto;
}
.icon{
	display: inline-block;
	@include remlace(width,90px);
	@include remlace(height,90px);
	background: url(../images/icons.png) no-repeat;
	background-size: pxToRem(90px) auto;
	vertical-align: middle;
	overflow: hidden;
}
h3{
	@include remlace(margin,20px);
	@include remlace(font-size,32px);
}
ol{
	@include remlace(margin,20px,0);
}
li{
	@include remlace(margin,10px,0);
	@include remlace(font-size,28px);
}
.dom01{
	@for $i from 0 through 2{
		.icon#{$i}{
			background-position: 0 pxToRem(-90px)*$i;
		}
	}
}
.dom02{
	@for $i from 0 through 2{
		.icon#{$i}{
			background-position: 0 -90*$i/(90-270)*100%;
		}
	}
}